@font-face {
  font-family: 'farrington-7b-qiqiregular';
  src: url("../font/num-webfont.woff2") format("woff2"), url("../font/num-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#battle {
  background-image: url(../img/scene/battle.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#battle .skill_num {
  font-family: 'farrington-7b-qiqiregular';
  margin-top: 38px;
  margin-left: 12px;
  position: absolute;
  opacity: 0;
  color: red;
  font-size: 40px;
  font-weight: 900;
  -webkit-text-stroke: 1px #363232;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(222, 151, 31, 0.77)), to(rgba(255, 0, 0, 0.7)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#battle .skill {
  position: absolute;
  opacity: 0;
}
#battle .div_progress {
  position: relative;
  float: left;
  margin-left: calc( (100% - 210px)/4 );
  height: 3px;
  width: 70px;
  background-color: #f5f5f5;
}
#battle .div_progress .progress {
  float: left;
  height: 100%;
  background-color: #16a15e;
}
#battle .nav, #battle .top, #battle .bottom {
  left: 0;
  right: 0;
  position: fixed;
}
#battle .top {
  top: 0;
}
#battle .bottom {
  bottom: 0;
}
#battle .card {
  height: 140px;
  margin: -20px;
}
#battle .div_sprite {
  height: 256px;
  width: 256px;
  position: absolute;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 991px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
