#battle-ready {
  position: relative;
  padding: 6px 12px 10px 12px;
  overflow: hidden;
}
#battle-ready .row {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
#battle-ready .row .row-img {
  width: 30%;
}
