@charset "UTF-8";
#card-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
#card-detail .row-skill {
  background-image: url(../img/ui/cards.info.bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: calc(88% - 4px);
  color: white;
  left: 6%;
  right: 6%;
  padding: 2px;
  margin-top: 41%;
  margin-bottom: 10px;
}
#card-detail .row-skill .row-skill-block {
  padding: 8px;
  height: 61%;
  margin-top: 1%;
}
#card-detail .row-skill .row-skill-block .row-skill-block-title {
  display: block;
  margin-bottom: 2px;
}
#card-detail .row-skill .row-skill-block .row-skill-block-title img {
  width: 10px;
  margin-left: 2px;
}
#card-detail .row-skill .row-skill-block .row-skill-block-title small {
  letter-spacing: 1px;
}
#card-detail .row-skill .row-skill-block .row-skill-block-title span {
  color: #ffe914;
}
#card-detail .row-skill .row-skill-block .row-skill-block-content {
  display: block;
  background-color: #332e2a;
  border-radius: 4px;
  padding: 4px 6px 4px 6px;
  margin-bottom: 6px;
}
#card-detail .row-skill .row-skill-block .row-skill-block-content .br {
  display: block;
  margin-bottom: 6px;
}
#card-detail .row-info {
  position: relative;
  width: 100%;
  color: white;
}
#card-detail .row-info .row-info-left {
  float: left;
  width: 50%;
  margin-top: -30px;
  /* 图片尺寸修正 */
}
#card-detail .row-info .row-info-left img {
  width: 100%;
}
#card-detail .row-info .row-info-right {
  float: left;
  width: 46%;
  color: white;
  margin-left: -4%;
  /* 图片尺寸修正 */
}
#card-detail .row-info .row-info-right span {
  display: block;
  margin-bottom: 3px;
}
#card-detail .row-info .row-info-right span b {
  letter-spacing: 1px;
}
#card-detail .row-info .row-info-right span img {
  width: 16px;
}
#card-detail .row-collect {
  background-image: url(../img/ui/cards.info.bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: calc(88% - 4px);
  color: white;
  left: 6%;
  right: 6%;
  padding: 8px;
  margin-bottom: 10px;
}
#card-detail .row-collect .row-collect-title {
  display: block;
  margin-bottom: 4px;
}
#card-detail .row-collect .row-collect-title img {
  width: 10px;
  margin-left: 2px;
}
#card-detail .row-collect .row-collect-title small {
  letter-spacing: 1px;
}
#card-detail .row-collect .row-collect-title span {
  color: #ffe914;
}
#card-detail .row-collect .row-collect-img {
  display: block;
  margin: 4px 0 4px 0;
  width: 100%;
}
#card-detail .row-collect .row-collect-img img {
  width: 45px;
}
#card-detail .row-collect .row-collect-content {
  display: block;
  background-color: #332e2a;
  border-radius: 4px;
  padding: 4px 6px 4px 6px;
  margin-bottom: 8px;
}
#card-detail .row-collect .row-collect-content .row-collect-content-br {
  display: block;
  margin-bottom: 6px;
}
#card-detail .row-close {
  position: absolute;
  width: 100%;
  top: 90%;
  text-align: center;
}
#card-detail .row-close img {
  width: 150px;
}
#card-detail .row-pagination {
  position: absolute;
  width: 100%;
  top: 87%;
  text-align: center;
  color: white;
}
#card-detail .row-pagination .swiper-pagination {
  width: 100%;
}
#card-detail .row-title {
  position: fixed;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 10px;
}
#card-detail .row-title .row-title-img {
  background-image: url(../img/ui/cards.info.name.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 158px;
  height: 36px;
  margin-left: calc(50% - 79px);
}
#card-detail .row-title .row-title-name {
  font-size: 16px;
  color: yellow;
  font-weight: 400;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
#card-detail .swiper-container {
  top: 12%;
  height: 73%;
}
#card-detail #single {
  overflow: hidden;
}
#card-detail #multi {
  overflow-y: scroll;
  overflow-x: hidden;
}

#main-hero {
  position: relative;
  padding: 6px 12px 10px 12px;
  overflow: hidden;
}
#main-hero .main-hero-list {
  position: relative;
  background-image: url(../img/ui/list_hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 2px;
  width: 100%;
  height: 64px;
  color: white;
}
#main-hero .main-hero-list .main-hero-list-lv {
  font-size: 14px;
  display: block;
  position: relative;
  text-align: right;
  padding: 10px 15px 0 0;
  color: #fffc00;
}
#main-hero .main-hero-list .main-hero-list-title {
  font-size: 14px;
  display: block;
  position: relative;
  text-align: left;
  margin: -13px 0 0 88px;
}
#main-hero .main-hero-list .main-hero-list-content {
  font-size: 14px;
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 9px 0 0 26px;
}
#main-hero .main-hero-list .main-hero-list-content2 {
  font-size: 14px;
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 9px 0 0 47px;
}
#main-hero .main-hero-list .main-hero-list-img {
  margin-top: 1px;
  float: left;
  position: relative;
  width: 58px;
}

#index #div_announcement #div_announcement_alpha {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 10;
}
#index #div_announcement #iframe_announcement {
  width: 88%;
  height: 74%;
  top: 13%;
  left: 6%;
  position: absolute;
  z-index: 10;
  border: 0px;
  opacity: 1;
}
#index #iframe-liubai {
  background-image: url(../img/ui/bg_top.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  border: 0px;
  width: 100%;
  height: calc(6% + 3px);
  top: 12%;
}
#index #iframe {
  background-image: url(../img/ui/bg_bot.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  border: 0px;
  width: 100%;
  height: 73%;
  top: 18%;
  overflow-y: scroll;
}
#index .nav-bottom {
  position: fixed;
  bottom: 0;
}
#index .nav-top {
  position: absolute;
  top: 0;
}
#index .nav-top-label, #index #nav-top-gold, #index #nav-top-fushi {
  position: absolute;
  letter-spacing: 0.8px;
  font-family: Arial;
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  top: 26px;
  text-align: center;
}
#index #nav-top-gold {
  left: 205px;
  width: 80px;
  color: yellow;
}
#index #nav-top-fushi {
  left: 105px;
  width: 70px;
  color: rgba(182, 247, 146, 0.85);
}
#index #nav-top-div {
  position: absolute;
  top: 49%;
  left: 0px;
  width: 100%;
  height: 31%;
  z-index: 1;
}
#index #nav-top-div #nav-top-icon {
  float: right;
  width: 52px;
  margin: 11% 14px 7px 4px;
}
#index #nav-top-div .nav-top-button {
  float: left;
  width: 72px;
  margin: 10% 0px 0px 1px;
}
#index .nav-img {
  float: left;
  width: 16.66667%;
}

.instance {
  position: relative;
  padding: 6px 12px 10px 12px;
  overflow: hidden;
  display: none;
}
.instance .instance-listInfo {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: white;
  margin: 24px 0 6px 0;
  text-align: center;
}
.instance .instance-listInfo .instance-list-description {
  font-size: 14px;
  display: block;
  position: relative;
  padding: 8px;
  color: white;
  text-align: left;
}
.instance .instance-list {
  position: relative;
  background-image: url(../img/ui/instance.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 6px;
  width: 100%;
  height: 64px;
}
.instance .instance-list .instance-list-img {
  margin-top: 1px;
  float: left;
  position: relative;
  width: 58px;
}
.instance .instance-list .instance-list-status {
  font-size: 12px;
  font-weight: 900;
  position: relative;
  top: 8px;
  padding: 0 0 0 26px;
  text-shadow: 1px 1px 1px #000;
  color: #81d8e1;
}
.instance .instance-list .instance-list-clear {
  font-size: 9pt;
  position: relative;
  top: 6px;
  padding: 0 0 0 20px;
  text-shadow: 1px 1px 1px #000;
  color: yellow;
}
.instance .instance-list .instance-list-title {
  font-size: 16px;
  display: block;
  top: 12px;
  position: relative;
  padding: 0 0 0 26px;
  text-shadow: 3px 2px 2px #000;
  color: white;
}
.instance .instance-list .instance-list-class, .instance .instance-list .instance-list-star, .instance .instance-list .instance-list-power {
  font-size: 14px;
  display: inline;
  font-weight: 600;
  position: relative;
  top: -30px;
  left: 78%;
  text-shadow: 1px 1px 1px #000;
}
.instance .instance-list .instance-list-star {
  color: yellow;
}
.instance .instance-list .instance-list-power {
  color: lightgreen;
}

#help-cards {
  padding: 6px 12px 10px 12px;
}
#help-cards .card {
  width: 18%;
  margin: 1%;
}

#battle-ready {
  position: relative;
  padding: 6px 12px 10px 12px;
  overflow: hidden;
}
#battle-ready .row {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
#battle-ready .row .row-img {
  width: 30%;
}

body {
  background-image: url(../img/ui/cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'farrington-7b-qiqiregular';
  src: url("../font/num-webfont.woff2") format("woff2"), url("../font/num-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#announcement {
  height: 100%;
  width: 100%;
  background-image: url(../img/ui/announcement.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#announcement .announcement_list {
  position: relative;
  height: 66%;
  width: 84%;
  left: 8%;
  overflow-y: visible;
  overflow-x: hidden;
}
#announcement .announcement_list .div_menu .title {
  display: block;
  margin-bottom: 6px;
  padding: 14px 0 14px 0;
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  color: #006e7b;
  background-color: #cbb987;
  text-indent: 8pt;
  border-radius: 8px;
}
#announcement .announcement_list .div_menu .content {
  padding: 8px;
  margin-top: -10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  background-color: #cbb987;
}

#main {
  width: 100%;
  position: relative;
}
#main .row {
  width: 100%;
  margin-top: 2%;
}
#main .card {
  display: inline;
  float: left;
  position: absolute;
  top: 12px;
  width: 64px;
  margin-top: 2%;
}

#battle {
  background-image: url(../img/scene/battle.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#battle .skill_num {
  font-family: 'farrington-7b-qiqiregular';
  margin-top: 38px;
  margin-left: 12px;
  position: absolute;
  opacity: 0;
  color: red;
  font-size: 40px;
  font-weight: 900;
  -webkit-text-stroke: 1px #363232;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(222, 151, 31, 0.77)), to(rgba(255, 0, 0, 0.7)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#battle .skill {
  position: absolute;
  opacity: 0;
}
#battle .div_progress {
  position: relative;
  float: left;
  margin-left: calc( (100% - 210px)/4 );
  height: 3px;
  width: 70px;
  background-color: #f5f5f5;
}
#battle .div_progress .progress {
  float: left;
  height: 100%;
  background-color: #16a15e;
}
#battle .nav, #battle .top, #battle .bottom {
  left: 0;
  right: 0;
  position: fixed;
}
#battle .top {
  top: 0;
}
#battle .bottom {
  bottom: 0;
}
#battle .card {
  height: 140px;
  margin: -20px;
}
#battle .div_sprite {
  height: 256px;
  width: 256px;
  position: absolute;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 991px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #battle {
    width: 498px;
    margin: 0 auto;
  }
}
