.instance {
  position: relative;
  padding: 6px 12px 10px 12px;
  overflow: hidden;
  display: none;
}
.instance .instance-listInfo {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: white;
  margin: 24px 0 6px 0;
  text-align: center;
}
.instance .instance-listInfo .instance-list-description {
  font-size: 14px;
  display: block;
  position: relative;
  padding: 8px;
  color: white;
  text-align: left;
}
.instance .instance-list {
  position: relative;
  background-image: url(../img/ui/instance.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 6px;
  width: 100%;
  height: 64px;
}
.instance .instance-list .instance-list-img {
  margin-top: 1px;
  float: left;
  position: relative;
  width: 58px;
}
.instance .instance-list .instance-list-status {
  font-size: 12px;
  font-weight: 900;
  position: relative;
  top: 8px;
  padding: 0 0 0 26px;
  text-shadow: 1px 1px 1px #000;
  color: #81d8e1;
}
.instance .instance-list .instance-list-clear {
  font-size: 9pt;
  position: relative;
  top: 6px;
  padding: 0 0 0 20px;
  text-shadow: 1px 1px 1px #000;
  color: yellow;
}
.instance .instance-list .instance-list-title {
  font-size: 16px;
  display: block;
  top: 12px;
  position: relative;
  padding: 0 0 0 26px;
  text-shadow: 3px 2px 2px #000;
  color: white;
}
.instance .instance-list .instance-list-class, .instance .instance-list .instance-list-star, .instance .instance-list .instance-list-power {
  font-size: 12px;
  display: inline;
  font-weight: 600;
  position: relative;
  top: -24px;
  left: 78%;
  text-shadow: 1px 1px 1px #000;
}
.instance .instance-list .instance-list-star {
  color: yellow;
}
.instance .instance-list .instance-list-power {
  color: lightgreen;
}
