#main-hero {
  background-image: url(../img/ui/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 12px;
  overflow: hidden;
}
#main-hero .main-hero-list {
  position: relative;
  background-image: url(../img/ui/list_hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 4px;
  width: 100%;
  height: 64px;
  color: white;
}
#main-hero .main-hero-list .main-hero-list-lv {
  font-size: 14px;
  position: fixed;
  right: 26px;
  margin-top: 12px;
  text-align: left;
  color: #fffc00;
}
#main-hero .main-hero-list .main-hero-list-title {
  display: block;
  position: relative;
  left: 28px;
  top: 11px;
}
#main-hero .main-hero-list .main-hero-list-content {
  position: relative;
  top: 18px;
  left: 26px;
  text-align: left;
}
#main-hero .main-hero-list .main-hero-list-content2 {
  position: fixed;
  left: 172px;
  margin-top: 18px;
  text-align: left;
}
#main-hero .main-hero-list .main-hero-list-img {
  float: left;
  position: relative;
  width: 58px;
}
